.first {
    display: grid;
    grid-template-columns: repeat(3, 90px);
}
.input1 {
    display: grid;
    grid-template-columns: repeat(1);
    width: 360px;
    height: 40px;
    font-family: 'Anonymous Pro', monospace;
    font-size:20px;
    font-weight: bold;
    border-width: 1px;
    border-radius: 3px 3px 0px 0px;
    border-color: rgb(13, 22, 46);
    border-bottom: 0px;
    background-color: white;
    color: black;
    text-align: right;
    padding: 0px;
    
}
.input2 {
    display: grid;
    grid-template-columns: repeat(1);
    width: 360px;
    height: 90px;
    margin-bottom: 10px;
    font-family: 'Anonymous Pro', monospace;
    font-size:40px;
    font-weight: bold;
    border-width: 1px;
    border-radius: 0px 0px 3px 3px;
    border-color: rgb(13, 22, 46);
    border-top: 0px;
    background-color:white;
    color: black;
    text-align: right;
    padding: 0px;

}
.operators{
    display: grid;
    grid-template-columns: repeat(1, 90px);
    margin-left: 270px;
    margin-top: -250px;
}
button {
    width: 90px;
    height: 50px;
    font-size:x-large;
    color:aliceblue;
    background-color: green;
    border-radius: 3px;
    border-style: dotted;
    border-width: 0.1px;
    font-family: 'Anonymous Pro', monospace;
    touch-action: manipulation;
}
button:hover {
    background-color: rgb(2, 81, 55);
    
}
.equalButton{
    width: 90px;
    height: 50px;
    font-size:x-large;
}

